form {
  max-width: 370px;
  margin: 0 auto;
  .file-input-container {
    background-color: #C9CBD1;
    padding: 40px;
    input {
      font-size: 13px;
      margin: 0 auto;
      display: block;
      width: 178px;
    }
  }

  .submit {
    border: none;
    border-radius: 0;
    width: 100%;
    background-color: #2889C3;
    height: 40px;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover {
      background-color: #54a9db;
    }
  }
}

h2 {
  text-align: center;
}
