form {
  width: 20%;
  margin: 0 auto;
  .file-input-container {
    background-color: #C9CBD1;
    padding: 30px;
    input {
      font-size: 13px;
      margin: 0 auto;
      display: block;
      width: 178px;
    }
  }

  .submit {
    border: none;
    border-radius: 0;
    width: 100%;
    background-color: #2889C3;
    height: 40px;
    color: white;
    font-size: 20px;
  }
}

h2 {
  text-align: center;
}
