header {
  background-color: #c9cbd1;
  margin-bottom: 40px;
  img {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  .logout {
    position: absolute;
    right: 17px;
    top: 8px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
  }
}
