form {
  width: 35%;
  margin: 0 auto;
  input {
    width: 100%;
    height: 30px;
    margin: 6px 0px;
    font-size: 20px;
    text-align: center;
  }
  .submit {
    width: 101%;
    color: white;
    font-size: 20px;
    border: none;
    background-color: #2889C3;
    height: 42px;
    margin: 10px 0px;
  }
}
